* {
    padding:0;
    margin:0;
}

.logo {
    width: 150px;
    height: auto;
}

nav a {
    color: white;
    padding: 25px;
    text-decoration: none;
    }

nav a:hover {
    background-color: rgba(21,21,55,255);
    border: 0px;
    border-radius: 35px;
}

#selected_page {
    background-color: #095dd0;
    border: 0px;
    border-radius: 35px;
}
    
nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: large;
}

body {
    display: grid;
    grid-template-columns: 1fr / 1fr;
    height: auto;
    width: 100%;
    color: lightgrey;
    border-radius: 25px;
    border-color: lightgrey;
}

header {
    display: grid;
    grid-template-columns: 220px auto;
    background-color: rgba(21,21,21,255);
    justify-content: center;
    grid-column: 1 / 4;
}

h1, h2 {
    font-size: xx-large;
    color: #095dd0;
}

.subheader {
    font-size: x-large;
    color: #095dd0;
}

.card, .card2 {
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    height: auto;
    padding: 25px;
}

.card {
    width: 60%;
    display: grid;
}

.card2 {
    width: 30%;
    text-align: left;
    justify-content: space-around;
}

main {
    max-width: 100%;
    min-width: 800px;
    grid-column: 1 / 4;
    font-size: 17px;
    display: flex;
    justify-self: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}